
.text-container{
    width: 45%;
    min-width: 300px;
    margin: auto;
}
#row-missions{
    margin-top: 50px;
}

.row{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#forward-arrow{
    margin-left: 30px;
}
#previous-arrow{
    margin-right: 30px;
}
.arrow{
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
}
.arrow:hover{
    size: 2;
    text-decoration: none;
    cursor: pointer;
}
.card{
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 4px;
}

.card.card-mission{
    aspect-ratio: 5/6;
    height: 300px;
    border: solid 1px rgb(255, 255, 255);
}

.card:hover{
    cursor: crosshair;
    transform: translate(-1%, -1%);
    box-shadow: 2px 2px 15px rgba(216, 216, 216, 0.281);
    transition: 0.5s;
}

.card-text{
    position: absolute;
    padding: 0.05px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 15px;
    background: rgba(0, 0, 0, 0.562);
    border-radius: 10px;
}

.card-text h3{
    font-weight: 500;
    font-size: 28;
    margin-bottom: 3px;
}

.card-text p{
    margin-top: 0;
    font-size: 12px;
    font-weight: 500;
}

.page{
    margin-top: 40px;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    display: inline-block;
}
.page-number{
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 5px 10px;
    font-weight: bold;

    display: inline-block;
}